.faq {
    padding: 100px 20px;
    background-color: var(--text-light);
}

.faq-contact {
    padding: 100px 20px;
    background-color: var(--text-light);
    margin-top: -100px;
}

.section-title-faq {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-green);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    position: relative;
}

.section-title-faq-contact {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-green);
    margin-bottom: 2rem;
    font-weight: 700;
    position: relative;
}

.faq-item {
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.faq-item.active {
    background-color: #e8e8e8;
}

.faq-question {
    padding: 20px 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.faq-question:hover {
    background-color: #e8e8e8;
}

.question-text {
    color: #333;
    font-size: 0.95rem;
    font-weight: 500;
}

/* Flechita */
.arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    flex-shrink: 0;
    margin-left: 15px;
}

.faq-item.active .arrow {
    transform: rotate(-135deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 25px;
}

.faq-item.active .faq-answer {
    max-height: 500px;
    padding: 0 25px 20px 25px;
}

.answer-content {
    color: #555;
    line-height: 1.6;
    font-size: 0.9rem;
}

.faq-contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.faq-contact-image img {
    width: 100%;
    max-width: 340px;
}

.contact-text {
    text-align: center;
    margin-bottom: 2rem;
}

.faq-text {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-page {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contact-button {
    background: #12796a;
    color: white;
    border: none;
    padding: 12px 45px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.contact-button:hover {
    background: #0f5f54;
}
